@import (reference) "../../utils/Colors.less";


.nav {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;

    display: block;    

    .container {
        display: flex;
        justify-content: left;
        gap: 16px;
        padding: 0 16px 0 32px;
        background-color: @huoghei-grey;
        color: @huoghei-darkwhite;
        
        .element {
            float:left;
            text-decoration: none;
            padding: 16px 8px 16px 8px;
            color: inherit;
            
            &:visited {
                text-decoration: none;
            }
            &:hover{
                color: @huoghei-white;
                background-color: @huoghei-darkgrey;
            }
            &:active{
                color: green;
            }
        }


        .element-logo .logo {
            height: 38px;
            padding-top: 6px;
        }


        .dropdown {
            float: left;
            overflow: hidden;

            &:hover{
                color: @huoghei-white;
                background-color: @huoghei-darkgrey;
            }

            &:hover .drop-content {
                display: block;
            }

            .drop-button {
                border: none;
                outline: none;
                color: inherit;
                background-color: inherit;
                font-size: inherit;
                font-family: inherit;
                margin: 0;
                padding: 16px 8px 16px 8px;

                .arrow-down {
                    border: solid @huoghei-darkwhite;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    margin-left: 6px;
                    margin-bottom: 4px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                  }
            }

            .drop-content {
                display: none;
                position: absolute;
                background-color: @huoghei-grey;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                
                .drop-title {
                    padding: 0px;
                    text-align:center;
                    font-weight: 600;
                    padding: 12px 0px;
                }

                .element {
                    float:none;
                    text-decoration: none;
                    padding: 12px 16px;
                    color: @huoghei-darkwhite;
                    display: block;
                    text-align: left;
                    
                    &:visited {
                        text-decoration: none;
                    }
                    &:hover{
                        color: @huoghei-white;
                        background-color: @huoghei-darkgrey;
                    }
                    &:active{
                        color: green;
                    }
                }
            }
        }
    }

    
    .ntnui-stripes {
        width: 100%;
        margin: 0 auto 0 auto;
        .bar {
            height: 4px;
            transition: transform 400ms;

            &.black {
                background-color: @huoghei-ntnui-black;
            }
            &.green {
                background-color: @huoghei-ntnui-green;
            }
            &.yellow {
                background-color: @huoghei-ntnui-yellow;
            }

            &:hover {
                transform: scaleX(0.9);
            }
        }
    }
}
