@import (reference)  "../../utils/Colors.less";

.page-container {
    width: clamp(300px, 100%, 1280px);
    margin: 16px auto 16px auto;
    min-height: inherit;
    background-color: @huoghei-white-background;

    .page-wrapper {
        padding: 16px;

        .wp-block-file {
            object {
                height: 1000px !important; 
            }
        }
    }
}