@import (reference) "../../utils/Colors.less";

.newsitem-container {
    width: 100%;

    .newsitem-wrapper {
        //background-color: #eee;
        width: clamp(20rem, 80%, 54rem);
        margin: 16px auto 16px auto;
        padding: 16px;

        .title-div {
            width: 100%;
            color: @huoghei-darkgrey;
            h2 {
                margin-bottom: 8px;
            }
            
            //background-color: aqua;
        }

        .top-row {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            font-size: small;
            margin-left: 0px;
            color: @huoghei-lightgrey;
        }
        .icon {
            height: 16px;
            border-radius: 50%;
            margin-bottom: -4px;
            margin-right: 4px;
        }

        .content-div {
            margin-left: 2px;
            color: @huoghei-grey;
        }

        .link {
            text-decoration: none;
            color: @huoghei-darkgrey;
        }
        button {
            height: 32px;
            padding: 4px 16px 4px 16px;
            font-size: 14px;
            font-weight: 600px;
            margin-top: 8px;
            margin-bottom: 16px;
            background-color: @huoghei-white-background;
            border: 1px solid #ccc;
            border-radius: 4px;
            text-decoration: none;
            color: @huoghei-grey;
            &:hover, &:focus {
                cursor: pointer;
                outline: none !important;
                background-color: #f8f8f8;
                border: 1px solid @huoghei-light-blue;
                box-shadow: 0 0 8px @huoghei-light-blue !important;
            }
            &:active {
                transform: scale(0.98);
            }
        }

        hr {
            margin-top: 20px;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: 1px;
            top: 0;
            width: 100%;
            opacity: .4;
            background: linear-gradient(to right, transparent, #818078, transparent);
            
        }
    }
}